:root{
  --ftsize: 16px;
  --mobile: 375px;
  --desktop: 1440px;
}

body.light{
  background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  color: black;
}

body.dark{
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  color: white;
}

body.dark section{
  background-color: hsla(0, 0, 0, 0.1);
  padding: 20px;
  box-shadow: 2px 2px 1px 1px black;
  border-radius: 7px;
  color: darkslateblue;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: var(--desktop);
}
button{
  padding: 10px;
}

#special{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

#special  span  button{
  gap: 10px;
  border-radius: 19px;
  padding: 10px;
  font-size: 16px;
}

#special > span > button:hover{
  background-color: hsl(3, 86%, 64%);
}

section > button:hover{
  background-color: hsl(3, 77%, 44%);
}

body.light section{
  padding: 20px;
  box-shadow: 1px 1px 4px 0px grey;
  border-radius: 7px;
  background-color: white;
  color: darkslateblue;
  margin: 0;
}

.sections{
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 20px;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header span{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

header > button{
  border-radius: 7px;
  padding: 10px;
  background-color: white;
}

header{
  background-color: hsla(200, 60%, 99%, 0.2);
  padding: 10px;
  border-radius: 7px;
}

header > span > img{
  width: 40px;
  height: 40px;
  position: relative;
  top: 5px;
}
main div img{
  width: 40px;
  height: 40px;
  position: relative;
  top: 5px;
}

main section div div{
  display: flex;
  gap: 10px;
}

main section span button{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 0.01px solid black;
}

main section span button:hover{
  background-color: hsl(3, 77%, 44%);
  color: white;
  border: none;
}


section span{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


